<div class="row">
  <div class="row-info">
    <div
      class="field-info-top"
      *ngFor="let f of infoTop"
      [innerHtml]="f"></div>
  </div>
  <div class="col">
    <div
      class="field-info-left"
      *ngFor="let f of infoLeft"
      [innerHtml]="f"></div>
  </div>
  <div class="col">
    <app-field
      *ngFor="let f of fields | filter:'down':'top'"
      [field]="f"
      (click)="onFieldClick(f)"
    ></app-field>
    <app-field
      *ngFor="let f of sumFields | filter:'down':'top'"
      [field]="f"
    ></app-field>
    <app-field
      *ngFor="let f of fields | filter:'down':'middle'"
      [field]="f"
      (click)="onFieldClick(f)"
    ></app-field>
    <app-field
      *ngFor="let f of sumFields | filter:'down':'middle'"
      [field]="f"
    ></app-field>
    <app-field
      *ngFor="let f of fields | filter:'down':'bottom'"
      [field]="f"
      (click)="onFieldClick(f)"
    ></app-field>
    <app-field
      *ngFor="let f of sumFields | filter:'down':'bottom'"
      [field]="f"
    ></app-field>
  </div>
  <div class="col">
    <app-field
      *ngFor="let f of fields | filter:'free':'top'"
      [field]="f"
      (click)="onFieldClick(f)"
    ></app-field>
    <app-field
      *ngFor="let f of sumFields | filter:'free':'top'"
      [field]="f"
    ></app-field>
    <app-field
      *ngFor="let f of fields | filter:'free':'middle'"
      [field]="f"
      (click)="onFieldClick(f)"
    ></app-field>
    <app-field
      *ngFor="let f of sumFields | filter:'free':'middle'"
      [field]="f"
    ></app-field>
    <app-field
      *ngFor="let f of fields | filter:'free':'bottom'"
      [field]="f"
      (click)="onFieldClick(f)"
    ></app-field>
    <app-field
      *ngFor="let f of sumFields | filter:'free':'bottom'"
      [field]="f"
    ></app-field>
  </div>
  <div class="col">
    <app-field
      *ngFor="let f of fields | filter:'up':'top'"
      [field]="f"
      (click)="onFieldClick(f)"
    ></app-field>
    <app-field
      *ngFor="let f of sumFields | filter:'up':'top'"
      [field]="f"
    ></app-field>
    <app-field
      *ngFor="let f of fields | filter:'up':'middle'"
      [field]="f"
      (click)="onFieldClick(f)"
    ></app-field>
    <app-field
      *ngFor="let f of sumFields | filter:'up':'middle'"
      [field]="f"
    ></app-field>
    <app-field
      *ngFor="let f of fields | filter:'up':'bottom'"
      [field]="f"
      (click)="onFieldClick(f)"
    ></app-field>
    <app-field
      *ngFor="let f of sumFields | filter:'up':'bottom'"
      [field]="f"
    ></app-field>
  </div>
  <div class="col">
    <app-field
      *ngFor="let f of fields | filter:'announce':'top'"
      [field]="f"
      (click)="onFieldClick(f)"
      [reserved]="f.fieldReserved"
    ></app-field>
    <app-field
      *ngFor="let f of sumFields | filter:'announce':'top'"
      [field]="f"
    ></app-field>
    <app-field
      *ngFor="let f of fields | filter:'announce':'middle'"
      [field]="f"
      (click)="onFieldClick(f)"
      [reserved]="f.fieldReserved"
    ></app-field>
    <app-field
      *ngFor="let f of sumFields | filter:'announce':'middle'"
      [field]="f"
    ></app-field>
    <app-field
      *ngFor="let f of fields | filter:'announce':'bottom'"
      [field]="f"
      (click)="onFieldClick(f)"
      [reserved]="f.fieldReserved"
    ></app-field>
    <app-field
      *ngFor="let f of sumFields | filter:'announce':'bottom'"
      [field]="f"
    ></app-field>
  </div>
</div>
<div class="total">{{total}}</div>


<app-dice-table></app-dice-table>
